---
import type { MeetupEvent } from '../types';
import Search from '../components/search.component.astro';
import EventListItem from '../components/event-list-item.component.astro';

export interface Props {
  events: MeetupEvent[];
  query?: string;
}

type UpcomingEvent = { event: MeetupEvent; faded: false };
type PastEvent = { event: MeetupEvent; faded: true };
type NowEvent = { now: true };
type Events = (UpcomingEvent | PastEvent | NowEvent)[];

const { events = [] } = Astro.props;
const isInPast = (date: string): boolean => +new Date(date) < +new Date();
const [upcoming, past] = events
  .sort((a, b) => b.frontmatter.date.localeCompare(a.frontmatter.date))
  .reduce(
    (acc, event) => {
      const { date } = event.frontmatter;
      if (isInPast(date)) acc[1].push({ event, faded: true });
      else acc[0].push({ event, faded: false });
      return acc;
    },
    [[], []] as [UpcomingEvent[], PastEvent[]]
  );
const combined: Events = [...upcoming, { now: true }, ...past];
---

<style lang="scss">
  @use '../styles/utils';

  :global(label[for='search']) {
    position: fixed;
    inset: var(--ddjs-header-height) 0 auto;
    z-index: 1;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: utils.size(2);
    padding: utils.size(4) utils.size(2) utils.size(2) utils.size(3);
    margin-top: calc(var(--ddjs-header-height) + var(--ddjs-search-height));

    // extend first line to the top of the viewport
    :global(article.first .content::before) {
      height: calc(50% + #{utils.size(100)});
    }
  }
</style>

<script>
  import { highlightMatches } from '../utils/highlight.utils';
  import { SEARCH_ATTR, doSearch, prepareQueries, resetSearch } from '../utils/search.utils';

  const input = document.querySelector('input[type="search"]');
  const events = Array.from(document.querySelectorAll<Element>('nav[data-event-list] > article'));

  function showAll() {
    events.forEach((event) => event.removeAttribute('hidden'));
  }

  function setFirstLast() {
    events
      .map((event) => {
        event.classList.remove('first', 'last');
        return event;
      })
      .filter((event) => !event.hasAttribute('hidden'))
      .forEach((event, i, arr) => {
        if (i === 0) event.classList.add('first');
        if (i === arr.length - 1) event.classList.add('last');
      });
  }

  // derive initial state
  events.forEach((event) => {
    event.querySelectorAll(`[${SEARCH_ATTR}]`).forEach((searchable) => {
      searchable.setAttribute(SEARCH_ATTR, searchable.innerHTML);
    });
  });

  // search
  input!.addEventListener('input', (event) => {
    const { value } = event.target as HTMLInputElement;
    const queries = prepareQueries(value);

    if (queries.length < 1) {
      events.forEach((event) => resetSearch(event));
      showAll();
      setFirstLast();
      return;
    }

    events
      .filter((event) => !event.classList.contains('now'))
      .forEach((event) => {
        const result = doSearch(event, queries);

        // did we find anything?
        if (result.hasResult) {
          // show the whole element
          event.removeAttribute('hidden');
          // highlight the findings
          highlightMatches(result.combined, (text, query) => `<mark data-query="${query}">${text}</mark>`);
        } else {
          // hide the element
          event.setAttribute('hidden', '');
        }
        setFirstLast();
      });
  });
</script>

<Search />
<nav data-event-list>
  {
    combined.map((event, i) => {
      const first = i === 0;
      const last = i === combined.length - 1;
      if ('now' in event)
        return (
          <EventListItem now first={first} last={last}>
            Date.now()
          </EventListItem>
        );
      return <EventListItem event={event.event} faded={event.faded} first={first} last={last} />;
    })
  }
</nav>
